<p id="notice"><%= notice %></p>

<div class="row">
<div id="profile" class="col-md-9 right">

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @user.avatar %>
</p>

<%= image_tag @user.avatar_url(:thumb) if @user.avatar? %>


</div>

<div id="profile_sub" class="col-md-3">
</div>

<div id="profile_info" class="col-md-12"></div>

<%= link_to 'Edit', edit_user_path(@user) %> |
