


<div class="col-md-11 row">
	<div class="col-md-4"></div>
	
	<div class="col-md-3">
		<h2>
			<%= @submission.title %> By: <%= User.find( @submission.user_id).name %>
		</h2>
		<%= link_to 'Edit', edit_submission_path(@submission) %> |
		
		<div id="pic">
			<%= image_tag @submission.picture_url(:small) if @submission.picture? %>
		</div>
		
	</div>
	<div class="col-md-4"></div>
	
</div>


<div id="base" class="col-md-12 row">
	<div class="col-md-2">
	<div >
		<%= link_to User.find( @submission.user_id) do %>
			<%= image_tag User.find( @submission.user_id).avatar_url(:small), :class => "img-rounded", :id => "avatar" %>
		<% end %>
		</div>
		<h3 align="center">   <%= User.find( @submission.user_id).name %> </h3>
	</div>
	
	<div class="col-md-8">
		<p>
		<strong>Description:</strong>
		<%= @submission.description %>
		</p>
	</div>
	
	<div class="col-md-2">
		<p>
		<strong>Rating:</strong>
		<%= @submission.rating %>
		</p>
		
		<p>
		<strong>Tags:</strong>
		<%= @submission.tag_list %>
		</p>
	</div>
</div>

<div id="comments" class="col-md-12>
	<p>Test</p>
	<p>Test</p>
	<p>Test</p>
	<p>Test</p>
	<p>Test</p>
	<p>Test</p>
	<p>Test</p>
	<p>Test</p>
	<p>Test</p>
	<p>Test</p>
	<p>Test</p>
	<p>Test</p>
</div>

