<p id="notice"><%= notice %></p>


<div id="pic">
	<div class="col-sm-8"></div>
	<div class="col-sm-2">
		<%= image_tag @submission.picture_url(:small) if @submission.picture? %>
	</div>
	<div class="col-sm-8"></div>
</div>


<div id="base" class="col-sm-6">
	
	<p>
	<strong>Title:</strong>
	<%= @submission.title %>
	</p>
	
	<p>
	<strong>User:</strong>
	<%= User.find( @submission.user_id).name %>
	</p>
	
	<p>
	<strong>Description:</strong>
	<%= @submission.description %>
	</p>
	
	<p>
	<strong>Rating:</strong>
	<%= @submission.rating %>
	</p>
	
	<p>
	<strong>Tags:</strong>
	<%= @submission.tag_list %>
	</p>
</div>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
