<!DOCTYPE html>
<html>
<head>
	
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	
  <title>ArtWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


  <div id="nav" class="col-md-2">
	<ul >
		<center>
			<li><a href="/">Home</a></li>
			<li><a href="/submissions/new">Submit</a></li>
			<li><a href="/submissions">Browse</a></li>
			<li><a href="/users">Users</a></li>
		</center>
	</ul>
  </div>
  <div class="col-md-8">
	<body >
		<%= yield %>
	</body>
   </div>



</html>
