<!DOCTYPE html>
<html>
<head>
	
  <title>ArtWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  	<div id="sidebar"  class="col-md-1 nopadding">
		<div id="sidebar-nav" >
			<center>
			<br></br><br></br>
			<p>The Pad Shack Alpha</p>
			<br></br>
			<%= link_to current_user do %>
				<%= image_tag(current_user.avatar_url(:small), :class => "img-circle") %>
			<% end %>
			<p>Welcome <%= current_user.name%></p>
			</center>
			
			<br></br>
			<li><a href="/"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
			<li><a href="/submissions/new"><span class="glyphicon glyphicon-picture"></span>  Submit</a></li>
			<li><a href="/submissions"><span class="glyphicon glyphicon-search"></span>  Browse</a></li>
			<li><a href="/users"><span class="glyphicon glyphicon-user"></span>  Users</a></li>
		</div>
    </div>
  
</head>
	<div class="container-fluid">
	<div class="Row">
  
  <div class="col-md-1 nopadding">
  </div>
  <div class="col-md-11 nopadding">
	<body >
		<%= yield %>
		
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	</body>
   </div>
   </div>
   </div>

	
</html>
